:root {
  --gray-0: #212529;
  --gray-2: #e9ecef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

#nav {
  position: relative;
}

#nav > p {
  padding: 10px 20px;
  border: 1px solid var(--gray-0);
  border-radius: 4px;
  min-width: 205.47px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#nav > p > span {
  transform: rotateZ(90deg);
}

#nav ul {
  position: absolute;
  left: 100%;
  top: -1px;
  width: max-content;
  border: 1px solid var(--gray-0);

  display: none;
}

#nav > ul {
  position: relative;
  left: 0;
  top: 5px;
}

#nav ul li {
  position: relative;
  user-select: none;
  cursor: pointer;
}

#nav ul p {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#nav:hover > p {
  background: var(--gray-2);
}

#nav:hover > ul {
  display: block;
}

#nav ul li:hover > ul {
  display: block;
}

#nav ul li:hover {
  background: var(--gray-2);
}
